body {
	padding-top: 65px;
}

/* li {
	margin-bottom: 10px;
}

li.item {
	border: 1px black solid;
	border-radius: 5px;
	padding: 10px;
	background: #DDD;
	max-width: 600px;
}

a {
	border: 1px black solid;
	border-radius: 5px;
	padding: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #4287f5;
	display: block;
	max-width: 200px;
	text-align: center;
	color: black;
	text-decoration: none;
}

a:hover {
	background: blue;
	color: white;
	transition: background .3s, color .3s;
	transition-timing-function: ease-in-out;
} */